@import url('https://fonts.googleapis.com/css2?family=Underdog&display=swap');

* {
    box-sizing: border-box;
}

h1,
body {
    margin: 0;
    text-align: center;
}

body {
    padding: 2em 0 0 0;
    font-family: "Underdog", system-ui;
    font-weight: 400;
    font-style: normal;
    background: linear-gradient(150deg, #d2b4e2, #e7d6f1, #7869a0);
    min-height: 100vh;  /* чтобы нормик был градиент */
}

.action-btn{
    background-color: #465779;
    color: white;
    margin: 30px 0 0 0;
    width: 200px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    border: 2px dashed #212121;
    cursor: pointer;
}

.container{
    width: 100%;
    max-width: 600px;
    margin: 50px auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.dice{
    width: 180px;
    height: 180px;
}

.dice-green{
 fill: #7BFF83;
}

.dice-blue{
 fill: #7B95FF;
}